body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#installButton{
    display: block;
    width:200px;
    margin-top:30px;
    text-decoration: none;
    padding: 12px 15px;
    text-align: center;
    background: #f06e34;
    color: #fff;
    border-radius: 4px;
}