<body class="container" style="background: #E4E4E4; padding: 5% 2.5%;font-size: 16px;">
    <div style="text-align: center">
        <div class="slogo" style="center; margin-top:20px;">
            <img src="http://via.placeholder.com/200x200"/>
        </div>
        <div class="glogo" style="margin-top:20px;">
            <img src="http://via.placeholder.com/200x200"/>
        </div>
        <div class="smessage" style="margin-top:20px;">
            Placeholder text
        </div>
    </div>
    <div style="margin-top:20px">
        <img src="http://via.placeholder.com/200x200" style="position:absolute"/>
        <div style="text-align: center; min-height:200px;"> a whole slew of text</div>
    </div>
    <div style="text-align: center; margin-top:20px;">
        <a style="padding: 12px 15px; text-align: center;background: #0c769d;color: #fff;border-radius: 4px;">
            Go to Post
        </a>
    </div>
    <div style="border-top: 1px solid #cac5c5; text-align: center; margin-top:20px;">
        <a>Update your School Deets communication preference</a>
        <div style="text-align: center; margin:20px">
            <a style="padding: 12px 15px; text-align: center;background: #0c769d;color: #fff;border-radius: 4px; margin:20px;">
            Download in Itunes
            </a>
            <a style="padding: 12px 15px; text-align: center;background: #0c769d;color: #fff;border-radius: 4px; margin:20px;">
            Download in Google Play
            </a>
        </div>

    </div>
    <div style="text-align: center">
        Mailing Address
    </div>

</body>